// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"
@import "node_modules/noty/src/noty.scss"


@font-face
  font-family: 'Noto Sans TC'
  font-style: normal
  font-weight: 300
  src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format("opentype")
  font-display: swap

@font-face
  font-family: 'Noto Sans TC'
  font-style: normal
  font-weight: 400
  src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format("opentype")
  font-display: swap

@font-face
  font-family: 'Noto Sans TC'
  font-style: normal
  font-weight: 700
  src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"), url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype")
  font-display: swap
.contact-icon
	margin: 52px auto

.contact-info
	padding: 0 82px
	h3
		color: #9D9D9D
		font-size: 1.2em
		margin-top: 12px
	p
		color: #40B9D8
		font-size: 2em

.gtg-input
	background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center
	transition: background 0.4s
	height: calc(9vh)
	width: 100%
	border: none
	border-top: 1px solid #dad9d9
	border-radius: 3px
	color: #808080
	margin-top: 8px
	&.x
		background-position: right 14px center
		z-index: 100
	&.onX
		cursor: pointer
		z-index: 100
	&::-ms-clear
		display: none
		width: 0
		height: 0

#noty_layout__center
	width: calc(36vh)
	height: calc(30vh)
	.noty_layout
		.noty_type__error
			width: calc(36vh)
			height: calc(30vh)
.info-div
	margin: 16px auto
	border-top: 1px solid #e8e8e8
	width: 75%
	padding-top: 12px
	display: inline-block
	font-size: 1.1em

.container-hidden
	display: none

.glyphicon-ring
	width: 60px
	height: 60px
	border-radius: 50%
	border: 4px solid white
	color: white
	display: inline-table
	text-align: center
	margin: 14px auto
	
.glyphicon-ring .glyphicon-bordered
	font-size: 20px
	vertical-align: middle
	display: table-cell

.info-btn
	display: inline-block
	width: 42%
	margin: 6px 8px

.noty_body
	text-align: center
.pace
	-webkit-pointer-events: none
	pointer-events: none
	-webkit-user-select: none
	-moz-user-select: none
	user-select: none


.pace-inactive
	display: none

.pace .pace-progress
	background: #40b9d8
	position: fixed
	z-index: 2000
	bottom: 0
	right: 100%
	width: 100%
	height: 4px


.disable-select
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

body
	font-family: 'Noto Sans TC', sans-serif
	background-color: #e8e8e8


.gtg-title
	color: #737373
	font-size: 1.2em

.gtg-button
	width: 100%
	border-radius: 3px
	height: calc(14vh)
	background-color: #40b9d8
	border: none
	border-bottom: 3px solid #3c91a5
	margin: 8px auto
	padding: 0 12px
	color: #fff
	font-size: 1.4em

	
.gtg-navbar
	background-color: #40b9d8
	border: none
	border-bottom: 1px solid #3a99b1
	border-radius: 0
	height: 72px
	padding-top: 12px
	.navbar-brand
		color: #fff
		font-weight: 300
		position: absolute
		width: 100%
		left: 0
		text-align: center
		margin: 4px auto
		letter-spacing: .3em
		z-index: 5000
		&:hover, :focus
			color: #fff
	.gtg-navback
		margin-left: 14px

.status-colum
	.container-status
		padding-top: calc(2vh)
		color: #49494b
		background-color: #fff
		box-shadow: 2px 2px 2px 2px #d9dce0
		height: calc(40vh - 50px)
		p
			font-size: 1.2em
			font-weight: 300
		h1
			font-size: 4.2em
			font-weight: 400


.container-lr
	margin-top: 12px
	box-shadow: 2px 2px 2px 2px #d9dce0
	color: #fff
	height: calc(24vh)
	padding: 10px 20px
	p
		font-size: 1.3em
		font-weight: 300
	h1
		font-size: 5.5em
		span
			font-size: .3em
			font-weight: 300
			margin-left: 10px		
.lr-blue
	background-color: #66c7e0
.lr-palm
	background-color: #a3a26a

.button-small
	height: calc(9vh)
	font-size: 1.1em
